.singleanime__container {
    margin-top: 50px !important;
  }
  
.singleanime__image {
  height: 340px;
  padding-right: 15px;
}

.singleanime__description {
  max-width: 400px;
  height: 300px;
  padding: 20px;
}

.singleanime__synopsis {
  max-width: 640px;
  width: auto;
  height: auto;
  padding: 10px;
}